[tool.black]
line-length = 80

[tool.poetry]
name = "rigeo"
version = "0.1.0"
description = "Rigid body geometry and inertial parameters."
authors = ["Adam Heins <mail@adamheins.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
numpy = ">=1.23.0"
pybullet = "^3.2.1"
matplotlib = "^3.5.1"
scipy = ">=1.10.0"
cvxpy = {version="^1.4.2", extras=["MOSEK"]}
pycddlib = "^2.1.6"
wrlparser = "^1.0"
docutils = "0.20.1"  # needed to resolve subdependencies of xacrodoc
xacrodoc = ">=0.4.0,<1.0.0"
pin = ">=2.6.0"
hpp-fcl = ">=2.2.0"
spatialmath-python = "^1.1.10"
tqdm = "^4.66.4"
seaborn = "^0.13.2"
pyb-utils = "^2.2.1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
